body {
    margin: 0;
    padding: 0;
    background-color: #aaa;
    border: 4px solid blue;
}

section {
    box-sizing: border-box;
    float: left;
    width: 65%;
    padding: 20px;
    margin-right: 5%;
    background-color: peru;
}

aside {
    box-sizing: border-box;
    float: left;
    width: 30%;
    padding: 20px;
    background-color: aqua;
}

.clear {
    clear: both;
}

@media(max-width:1024px){
    body {
        background-color: tomato;
    }
}

@media(max-width:768px){
    body {
        background-color: lightblue;
    }
}

@media(max-width:480px){
    body {
        background-color: lightgreen;
    }
}

@media(max-width:320px){
    body {
        background-color: lightseagreen;
    }
}

