/* Transformaciones */
/* scale(x,y)=>cambia el tamaño del a´ngulo */
/* rotate(angulo[30deg]) => rota el elemento dado un número en grados */
/* translate(x,y) => mueve le elemyo desde su posición origianl */
/* skew(angulo[30deg]) => inclina el elemento */
/* OBS => para aplicar más de una transfoemaciñin, deben incluirse todas en una sola línea */

header{
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    border: 1px solid #000000;
    /* transform: scale(-1, -1); */
    /* transform: translate(100px, 100px) */
    /* transform: rotate(45deg); */
    /* transform: rotate(45deg) translate(9px, 100px) scale(1.5); */
    /* transform: scale(1.3); */
    transition-duration: 0.5s;
    /* cuanto espra antes de que suceda la transición */
    transition-delay: 1s;
    /* Curva de BEZIER => easy-in-out | step-end | easy | step-start */
    transition-timing-function: ease-in-out;
}

/* hover asigan el estilo indicado cuando el maouse pasa solobre el elemnto */
/* no unsamos transition con hover */
header:hover {
    transform: scale(1.3);
}