/* Todos los elementos estructurales de HTML */
/* Definen la propiedad display en BLOCK */
/* header, footer, main, section, aside, p , div */
/* block => el elemento ocupará todo el ancho de la pantalla */
/* inline => el elemento son el ancho de su esacio en una misma línea */
/* inline-block => el elemnto ocipa el ancho de su espacio en una línea pero respeta sus atributos de width y height */
*{
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid green;
    display: inline-block;
    width: 49%;
    height: 100px;
}