*{
    margin: 0;
    padding: 0;
}
.padre{
    background-color: tomato;
    height: 800px;
    margin: 30px 60px;
}
.cuadrado {
    width: 300px;
    height: 150px;
    background-color: lightgreen;
    margin: 0px 20px 20px 20px;
}